*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.pdf-container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pdf-container iframe {
    width: 80%;
    height: 95vh;
    border: none;
}

header {
    position: relative;
    z-index: 10; 
}

body{
    min-height: 100vh;
    background-color: #232728;
    font-family: "consolas", sans-serif;
    margin: 0;
    padding: 0;
}

table{
    background-color: #232728;
    box-shadow: 3pc 3px 5px rgba(0, 0, 0, 0.1);
    width: 100%;
}
    
table tr{
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
    
table th{
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
    
table a{
    height: 100%;
    padding: 0 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: #FFFFFF;
}
    
table a:hover{
    background-color: rgb(129, 128, 128);
}

hr{
    height: 3px;
    background-color: #313638;
    border: none;
}

p{
    color: #FFFFFF;
}

h1{
    color: #FFFFFF;
}

nav{
background-color: #232728;
box-shadow: 3pc 3px 5px rgba(0, 0, 0, 0.1);
}

nav ul{
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav li{
    height: 50px;
}

nav a{
    height: 100%;
    padding: 0 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: #FFFFFF;
}

nav a:hover{
    background-color: rgb(129, 128, 128);
}

.container{
    width: 100%;
}

.searchBar{
    width: 100%;
    max-width: 700px;
    background: #313638;
    display: flex;
    align-items: center;
    border-radius: 60px;
    padding: 10px 20px;
    backdrop-filter: blur(4px) saturate(180%);
}

.searchBar input{
    background: transparent;
    flex: 1;
    border: 0;
    outline: none;
    padding: 24px 20px;
    font-size: 20px;
    color: rgb(129, 128, 128);
}

::placeholder{
    color: rgb(129, 128, 128);
}

.searchBar button img{
    width: 25px;
}

.searchBar button{
    border: 0;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    background: rgb(129, 128, 128);
    cursor: pointer;
}

.sidebar{
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    background-color: #232728;
    backdrop-filter: blur(10px);
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.sidebar li{
    width: 100%;
}

.sidebar a{
    width: 100%;
}

.sidebar1{
    position: fixed;
    top: 100;
    left: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    background-color: #232728;
    backdrop-filter: blur(10px);
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.sidebar1 li{
    width: 100%;
}

.sidebar1 a{
    width: 100%;
}

.menuButton{
    display: none;
}

.menuButton{
    display: block;
}

.pageContent{
    padding-top: 200px;
    margin-bottom: 0px;
    display: flex;
    justify-content: center;
    align-items: center;     
    height: 100vh;            
    text-align: center;     
    flex-direction: column;
    padding-top: 0px;
}

.pageContent h1 {
    font-size: 48px;
    margin-bottom: 20px;
    margin-top: 10px;
}

.pageContent p {
    font-size: 20px;
    max-width: 800px;
    line-height: 1.6;
    position: relative;
    margin-bottom: 20px;
}

.patternImage{
    max-width: 100%;
    width: 800px;
    height: auto;
    margin-top: 20px;
}

.slider{
    position: relative;
    max-width: 800px;
    margin: auto;
    margin-top: 0;
    margin-bottom: 0;
}

.slider img{
    max-width: 100%;
    width: 800px;
    display: none;
}

.slider button{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 2rem;
    background-color: hsla(0, 0%, 0%, 0.5)
    color white;
    border: none;
    cursor: pointer;
}

.previous{
    left: 0;
}

.next{
    right: 0;
}

img.displaySlide{
    display: block;
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade{
    from{
        opacity: 0.5;
    }
    to{
        opacity: 1;
    }
}

@media(max-width: 800px){
    .hideOnMobile{
        display:  none;
    }
}

@media(max-width: 400px){
    .sidebar{
        width: 100%;
    }
}